*
{
    margin: 0px;
    padding: 0px;
    font-family: "Courier New", sans-serif;
}

html
{
height: 100%;
}

body
{
    height: 100%;
    background-image: linear-gradient(to right, white 50%, rgb(204, 204, 204) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container
{
    box-sizing: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 75%;
    background-image: linear-gradient(to bottom, rgb(219, 235, 245) 75%, white 25%);
    background-repeat: no-repeat;
    box-shadow: 0 70px 100px -80px;
    padding: 2px;
    flex-grow: 1 6 2;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header
{
    display: flex;
    width: 90%;
    height: 11.1%;
    justify-content: space-between;
    align-items: center;
}

.forA
{
    min-width: 100px;
    display: flex;
    align-items: center;
}

a
{
    color: rgba(164, 167, 166, 0.8);
}

header a:first-child
{
    margin-left: 30px;
}

header .forA:first-child a::before, header .forA:last-child a::after
{
    content: ""; /* создаём инлайн объект */
    display: block; /* преобразуем его в блочный */
    position: relative; /* включаем асболютное позиционирование */
    left: -30px;
    top: 12px; /*отступ будет 0 пикселей от верхней точки блока */
    width:30px; /* блок займёт по ширине 100% ширины родительского */
    height: 1px; /* высота самого блока */
    background: rgba(164, 167, 166, 0.8); /* задаём нужный цвет фоном */
}

header .forA:last-child a::after
{
    left: 39px;
    top: -8px; /*отступ будет 0 пикселей от верхней точки блока */
}

#pointsConteiner
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content
{
    display: flex;
    width: 90%;
    height: 65.6%;
    justify-content: space-between;
    align-items: flex-end;
}

#content section:not(#rightContent)
{
    height: 80%;
}

#leftContent, #rightContent
{
    width: 5%;
}

#midContent
{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.centerA
{
    width: 100px;
    display: flex;
    justify-content: center;
}

img
{
    width: 40%;
    height: 100%;
    filter: brightness(220%) contrast(40%) hue-rotate(260deg);
}

#rightContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

#rightContent b:last-child
{
    font-size: 3rem;
}

#b3::after, #leftContent b:last-child::after
{
    content: "";
    display: block;
    position: relative;
    width: 1px;
    left: 9px;
    top: 20px;
    height: 70px;
    background-color: black;
}

#leftContent
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-bottom: 15px;  
}

#leftContent b
{
    transform: rotate(270deg);
    margin: 20px 0px;
}

#leftContent b:last-child::after
{
    width: 80px;
    height: 1px;
    left: 66px;
    top: -7px;
}

.LRS 
{
    font-size: 8pt;
    color: black;
}

footer
{
    display: flex;
    width: 80%;
    height: 13.2%;
    justify-content: space-between;
} 

footer article
{
    flex-basis: 100px;
}

#leftFoot
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
}

#midFoot
{
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
    align-items: center;
}

#rightFoot
{
    display: flex;
    flex-grow: 4;
    justify-content: flex-end;
    align-items: center;
}

#rightFoot b
{
    font-size: 20pt;
}

#rightFoot b::after
{
    content: "";
    display: block;
    position: relative;
    width: 135px;
    height: 3px;
    left: 225px;
    top: -17px;
    background-color: black;
}

#leftFoot b
{
    font-size: 7pt;
}

#leftFoot b:first-child::after
{
    content: "";
    display: block;
    position: relative;
    width: 143px;
    height: 1px;
    left: 73px;
    top: -5px;
    background-color: black;
}